<div class="container">
    <form method="POST" action="/logout">
        <input class="btn" type="submit" value="logout">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>