<div class="logout-container">
    <form method="POST" action="/logout">
        <input class="logout-btn-submit" type="submit" value="logout">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>