<div class="previous-container">
    <form action="/previous">
        <input class="previous-btn-submit" type="submit" value="previous">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>