<p>Don't feed pigeons!</p>
<p>Sign our petition to make feeding <a href=""> pigeons</a> forbidden in big cities</p>
<p>Sadly, something went wrong. Please try again!</p>
<form>
    <input type="text" name="FirstName" placeholder="First Name">
    <input type="text" name="LastName" placeholder="Last Name"></br>
    <canvas class="signature"></canvas></br>
    <input type="text" name="Signature"></br>
    <input type="submit" value="Submit">
</form>











{{!-- //add error message to home// --}}