<p>Don't feed pigeons!</p>
<p>Sign our petition to make feeding <a href=""> pigeons</a> forbidden in big cities</p>
<form method="POST">
    <input type="text" name="FirstName" placeholder="first name" required>
    <input type="text" name="LastName" placeholder="last name" required></br>
    <canvas class="signature"></canvas></br>
    <p>sign here</p>
    <input type="text" name="Signature" required></br>
    <input type="submit" value="Submit">
</form>


{{!-- //small text with link//
//image//
//first name//
//last name//
//input for canvas//
//text "sign here"//
//button submit// --}}