<div class="home-container">
    <p class="title"><b>DON'T FEED</b> pigeons!</p>
    <p class="main-text">Sign our petition to make feeding <a
            href="http://www.sbmbirdcontrol.com/dont-feed-pigeons.html"> pigeons</a> forbidden in big cities.</p>

    {{#if error}}
    <p class="error-message">Sadly, something went wrong. Please try again!</p>
    {{/if}}

    <form method="POST">
        <canvas id="canvas" height="100" width="500"></canvas><br />
        <p class="sign-here">sign here</p>
        <input class="signature-hidden" type="hidden" name="Signature"><br />
        <input class="btn-submit" type="submit" value="SUBMIT">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
{{>logout}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/script.js"></script>

{{!-- //small text with link//
//image//
//first name//
//last name//
//input for canvas//
//text "sign here"//
//button submit// --}}