<div class="home-container">
    <p class="title"><b>DON'T FEED</b> pigeons!</p>
    {{>imagepigeon}}
    <p class="main-text">Berlin has a large pigeon population. Pigeons are dangerous and they can
        spread a lot of diseases and sickness. Help Berlin to reduce their pigeons population by
        signing our petition to make feeding <a href="https://en.wikipedia.org/wiki/Feral_pigeon">
            pigeons</a> forbidden.</p>
    {{#if error}}
    <p class=" error-message">Sadly, something went wrong. Please try again!</p>
    {{/if}}

    {{#if errorsignature}}
    <p class="login-error-signature">You didn't sign. Please enter you signature!</p>
    {{/if}}

    <form method="POST">
        <canvas id="canvas" height="100" width="500"></canvas>
        <p class="sign-here">sign here</p>
        <input class="signature-hidden" type="hidden" name="Signature">
        <input class="btn-submit" type="submit" value="SUBMIT">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
{{>logout}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/script.js"></script>