<div class="container">
    <div class="title">DON'T FEED pigeons!</div>
    {{>imagepigeon}}
    <div class="text">Please log in.</div>

    {{#if erroruser}}
    <div class="error-message">User not found. Please try again!</div>
    {{/if}}

    {{#if errorpass}}
    <div class="error-message">Wrong password. Please try again!</div>
    {{/if}}

    <form method="POST">
        <input class="input" type="text" name="Email" placeholder="email" required>
        <input class="input" type="password" name="Password" placeholder="password" required>
        <input class="btn" type="submit" value="LOG IN">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <div class="second-text">If you are <b>not</b> a member, please register <a href="/register">here</a>.</div>
</div>