<div class="login-container">
    <p class="title"><b>DON'T FEED</b> pigeons!</p>
    {{>imagepigeon}}
    <p class="login-text">Please log in.</p>

    {{#if erroruser}}
    <p class="login-error-user">User not found. Please try again!</p>
    {{/if}}

    {{#if errorpass}}
    <p class="login-error-pass">Wrong password. Please try again!</p>
    {{/if}}

    <form method="POST">
        <input class="login-email" type="text" name="Email" placeholder="email" required>
        <input class="login-password" type="password" name="Password" placeholder="password" required>
        <input class="login-btn-submit" type="submit" value="LOG IN">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <p class="login-member-text">If you are <b>not</b> a member, please register <a href="/register">here</a>.</p>
</div>