<div class="profile-container">
    <p class="profile-text">We would like to know a little more about you. Please give us details about yourself.</p>
    <form method="POST">
        <input class="profile-age" type="text" name="Age" placeholder="age">
        <input class="profile-city" type="text" name="City" placeholder="city">
        <input class="profile-homepage" type="text" name="Homepage" placeholder="homepage">
        <input class="profile-btn-submit" type="submit" value="CONTINUE">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
{{>logout}}