<div class="container">
    <div class="title">DON'T FEED pigeons!</div>
    {{>imagepigeon}}
    <div class="text">We would like to know a little more about you. Please give us details about yourself.</div>
    <form method="POST">
        <input class="input" type="text" name="Age" placeholder="age">
        <input class="input" type="text" name="City" placeholder="city">
        <input class="input" type="text" name="Homepage" placeholder="homepage">
        {{#if errorhomepage}}
        <div class="error-message">Your homepage should start with http:// or https://. Please enter a valid
            url!</div>
        {{/if}}
        <input class="btn" type="submit" value="CONTINUE">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
{{>logout}}