<div class="register-container">
    {{>imagepigeon}}
    <p class="register-text">Big cities without <a href="https://en.wikipedia.org/wiki/Feral_pigeon">pigeons</a> are
        much better, clean and healthy.
        To get there
        we
        need your support. Join our campaign!</p>

    <form method="POST">
        <input class="register-first-name" type="text" name="FirstName" placeholder="first name" required>
        <input class="register-last-name" type="text" name="LastName" placeholder="last name" required>
        <input class="register-email" type="text" name="Email" placeholder="email" required>
        <input class="register-password" type="password" name="Password" placeholder="password" required>
        <input class="register-btn-submit" type="submit" value="SIGN UP">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <p class="register-member-text">If you are already a member, please <a href="/login">log in</a>.</p>
</div>