<div class="container">
    <div class="title">DON'T FEED pigeons!</div>

    {{>imagepigeon}}
    <div class="text">Berlin will be much better and clean without <a
            href="https://en.wikipedia.org/wiki/Feral_pigeon">pigeons</a>.
        We need your support. Sign the petition and join our campaign!
    </div>
    <form method="POST">
        <input class="input" type="text" name="FirstName" placeholder="first name" required>
        <input class="input" type="text" name="LastName" placeholder="last name" required>
        <input class="input" type="text" name="Email" placeholder="email" required>
        <input class="input" type="password" name="Password" placeholder="password" required>
        {{#if erroremail}}
        <div class="error-message">The email you wrote is already in use. Please choose another one.</div>
        {{/if}}
        <input class="btn" type="submit" value="SIGN UP">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <div class="second-text">If you are already a member, please <a href="/login">log in</a>.</div>
</div>