<div class="signers-container">
    <p class="signers-title">We all agree that pigeons are dangerous and we want to banish them from our big cities.
    </p>

    <ul>
        {{#each signatures}}
        <li class="signatures">{{this.first_name}} {{this.last_name}}</li>
        {{/each}}
    </ul>
</div>




{{!-- //image//
//small text//
//list of signers// --}}