<p>We got your signature!</p>
<p>Thank you for signing our petition to make <a href="">feeding</a> pigeons forbidden!</p>
<p><a href="/petition/signers">See all who also signed</a></p>






{{!-- //text to thank for signing//
//image//
//link to see the other signers// --}}