<div class="container">
    {{>imagepigeon}}
    <div class="title">We got your signature!</div>
    <div class="text">Thank you <b>{{firstName}} {{lastName}}</b> for signing our petition! Your signature is
        really important to make feeding <a href="https://en.wikipedia.org/wiki/Feral_pigeon">pigeons</a> forbidden!
    </div>
    <img class="image-signature" src="{{imageSignature}}">
    <div class="link"><a href="/petition/signers">see all who also signed</a></div>
    <div class="link"><a href="/profile/edit">edit your profile</a></div>

    <form method="POST" action="/signature/delete">
        <input class="link-delete-signature" type="submit" value="delete your signature">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
{{>logout}}