<div class="signature-container">
    <p class="title-signature">We got your signature!</p>
    <p class="text-signature">Thank you <b>{{firstName}} {{lastName}}</b> for signing our petition
        to make feeding <a href="http://www.sbmbirdcontrol.com/dont-feed-pigeons.html">pigeons</a> forbidden!</p>
    <img class="image-signature" src="{{imageSignature}}">
    <p class="link-signature"><a href="/petition/signers">See all who also signed</a></p>
</div>
{{>logout}}




{{!-- //text to thank for signing//
//image//
//link to see the other signers// --}}