* {
  box-sizing: border-box;
}

body {
  background-color: #624464;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 150px;
}

.title {
  font-size: 40px;
  color: #eaeaea;
  text-align: center;
  padding: 40px;
}

.text {
  font-size: 20px;
  color: #eaeaea;
  text-align: center;
  padding: 40px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  color: #eaeaea;
  height: 35px;
  width: 150px;
  border: dashed 1px #444444;
  background-color: #d02e77;
  margin: 15px;
}

#canvas {
  background-color: #fed6be;
  border: dashed 1px #444444;
  cursor: crosshair;
  margin: 20px;
}

.image-signature {
  background-color: #fed6be;
  border: solid 1px #eaeaea;
}

.error-message {
  font-weight: bold;
  font-size: 15px;
  color: #ff5252;
  text-align: center;
  padding: 20px;
}

.link {
  font-size: 20px;
  color: #eaeaea;
  text-align: center;
  margin-top: 40px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #d02e77;
}

a:visited {
  color: #d02e77;
}

a:hover {
  text-decoration: underline;
  color: #eaeaea;
}

ul {
  list-style-type: none;
  font-size: 18px;
  color: #eaeaea;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.second-text {
  font-size: 15px;
  color: #eaeaea;
  text-align: center;
  padding: 10px;
}

.input {
  background-color: #fed6be;
  height: 35px;
  width: 248px;
  border: dashed 1px #444444;
  margin: 10px;
}

input.link-delete-signature {
  font-size: 20px;
  color: #d02e77;
  background: none;
  padding: 0;
  text-align: center;
  border: none;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
}

input.link-delete-signature:hover {
  text-decoration: underline;
  color: #eaeaea;
}

@media screen and (max-width: 600px) {
  .image {
    width: 100px;
  }

  #canvas,
  .image-signature {
    width: 80%;
  }
}
